/*General styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #FFFFFF;
    color: black;
    line-height: 1.6;
    width: 100;
    
}
/* Header */
header{
    overflow: hidden;
    height: 115px;
    background-color: #CC0028;
}

header .logo h3{
    margin: 20px;
    color: white;
    font-weight: 600;
}
header .logo span{
    color: black;
    margin-left: 10px;
    font-weight: 900;
}
.menu{
    float: right;
    text-align: left;
    margin-right: 20px;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu li{
    display: inline;
    
}
.menu li a{
    display:inline;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
}
.menu li a:hover{
    color: black;
    font-weight: 800;
}
/* End Header */
/* Slider */
#slider{
    background-image:  url("/images/fs-slider.jpg");
    height: 80vh;
    background-color: brown;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#slider .slider-text{
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}
#slider .slider-text h1{
font-size: 3em;
}
#slider .slider-text p{
    color: #CC0028;
    font-size: 1.3em;
    }
/* End Slider */